<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    /> -->

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forgot Password</title>
    <style>
      .m-3 {
        margin: 1rem !important;
      }
      .my-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
      }
      body {
        margin: 0;
        font-family: system-ui, -apple-system, "Segoe UI", Roboto,
          "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: var(--bs-body-bg);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
      }

      .cus_card {
        border-radius: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .h1,
      h1 {
        font-size: calc(1.375rem + 1.5vw);
      }
      @media (min-width: 992px) {
        .container,
        .container-lg,
        .container-md,
        .container-sm {
          max-width: 960px;
        }
      }
      @media (min-width: 768px) {
        .container,
        .container-md,
        .container-sm {
          max-width: 720px;
        }
      }
      @media (min-width: 576px) {
        .container,
        .container-sm {
          max-width: 540px;
        }
        .container,
        .container-fluid,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl,
        .container-xxl {
          width: 100%;
          padding-right: var(--bs-gutter-x, 0.75rem);
          padding-left: var(--bs-gutter-x, 0.75rem);
          margin-right: auto;
          margin-left: auto;
        }
      }
      *,
      ::after,
      ::before {
        box-sizing: border-box;
      }
      user agent stylesheet div {
        display: block;
      }

      .row > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
      }

      .text-center {
        text-align: center !important;
      }
      .m-3 {
        margin: 1rem !important;
      }

      .btn {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .btn-success {
        color: #fff;
        background-color: #198754;
        border-color: #198754;
      }

      div {
        display: block;
      }

      *,
      ::after,
      ::before {
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card my-4 text-center cus_card">
            <h1>HI, <span style="color: #0f5a70"> {{userName}} </span></h1>
            <p class="m-3">
              You had requested the Password reset using this email : , 
              <b style="color: #0f5a70"> {{emailAddress}} </b>, You can click the button below to reset the password for 
              <b style="color: #0f5a70"> Gameree.net </b>
            </p>
            <div class="text-center m-3" >
              <a class="btn btn-success" href="{{verifyURL}}" style="color: #fff">
                Reset Password
              </a>
            </div>

            <p class="m-3">
              if you have not registered for this then please ignore the email
              <br />
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
